<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style/style.css">

    <script src="/js/main.js" defer></script>

    <title>Studenten</title>
    <meta content="Discover thousands of Products | Packables" name="description">
    <meta content="Redefining the way assets are sold. Offering a service to developers and group owners to sell virtual assets easily. Get started today with just one click of a button." name="description">
    <meta content="#E8E8E8" name="theme-color">
    <meta property="og:title" content="Discover thousands of Products | Packables">
    <meta property="og:site_name" content="Parcel">
    <meta property="og:description" content="Redefining the way assets are sold. Offering a service to developers and group owners to sell virtual assets easily. Get started today with just one click of a button.">
    <meta property="og:image" content="https://pileshare.com/u/iVOAx1EE">
    <meta name="twitter:card" content="summary_large_image">
    <link rel="icon" type="image" href="https://packables.store/img/logo.png">
</head>
  <body>
    <%- include('./nav') %>